<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.retrofitaccount"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-permission android:name="android.permission.INTERNET" />  
    
    <application 
      android:theme="@style/AppTheme"
      android:label="@string/app_name" 
      android:icon="@drawable/ic_launcher">

        <activity android:name="MainActivity"
                  android:theme="@style/AppTheme.NoActionBar"
                  android:label="@string/activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
          android:name="LoginActivity"
          android:theme="@style/AppTheme"
          android:label="@string/activity_login"
          android:parentActivityName="com.retrofitaccount.MainActivity"
          >

          <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.retrofitaccount.MainActivity"
            />
        </activity>
        
        <activity
          android:name="RegisterActivity"
          android:theme="@style/AppTheme"
          android:label="@string/activity_register"
          android:parentActivityName="com.retrofitaccount.MainActivity"
          >
          <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.retrofitaccount.MainActivity"
            />
        </activity>

        <activity
          android:name="UsersActivity"
          android:theme="@style/AppTheme"
          android:label="@string/activity_users"
          android:parentActivityName="com.retrofitaccount.MainActivity"
          >
          <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.retrofitaccount.MainActivity"
            />
        </activity>

    </application>
</manifest>
